@page "{handler?}"
@model MarksMovies.Pages.Movies.RankMoviesModel
@{
    ViewData["Title"] = "Rank Movies";
}
<link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#MovieList").sortable();
                $("#MovieList").disableSelection();
                $("#MovieList").sortable({
                    scrollSpeed: 80
                });
                $('#RankForm').submit(saveSortable);

                function saveSortable() {
                    console.log("saveSortable called");
                    var x =  $("#MovieList").sortable("toArray");
                    console.log(x);
                    $('#itemIds').val(x);

                }
            });
        });

    </script>
}


<h1>RankMovies</h1>
<hr />

<div>
    <a asp-page="./Index">Back to List</a>
</div>
<div>
    <form id="RankForm" method="post">
        <input type="hidden" id="itemIds" name="itemIds" value="test" />
        <button id="UpdateButton" asp-page-handler="UpdateRanks" class="btn btn-primary">Update Ranks</button>
        <table class="table">
            <thead>
                <tr>
                    <th />
                    <th>
                        @Html.DisplayNameFor(model => model.Movies.First().Title)
                    </th>
                </tr>
            </thead>
            <tbody id="MovieList">
                @{
                    var count = 1;
                    if (Model.Movies != null)
                    {
                        var total = Model.Movies.Count();
                        foreach (var item in Model.Movies)
                        {
                            <tr id="@item.ID" class="list-item">
                                <td>
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                            </tr>
                            count += 1;
                        }
                    }
                }
            </tbody>
        </table>
    </form>
</div>
